node_modules/
dist/
coverage/

.env
.env.*
!.env.example

cypress/screenshots/
cypress/videos/
cypress/downloads/
cypress/reports/
mochawesome-report/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
.idea/
.vscode/
